<!DOCTYPE html>
<html>
    {% trans_default_domain 'FOSUserBundle' %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}OC Projet Service{% endblock %}</title>

        {% block stylesheet %}

            {% stylesheets output="css/compiled/main.css" filter='?yui_css'
            'bundles/projectplatform/css/platform.css'
                                    'css/bootstrap.css'

                             %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}

        {% endblock %}

    </head>

    <header>
        {% block header %}

        {% endblock %}
    </header>

    <body>
        {% block body %}

        {% endblock %}
    </body>

     <footer>

         {% block modal %}

         {% endblock %}

         {% javascripts  output="js/compiled/core.js" filter='yui_js'
                         'js/jquery-2.1.1.min.js'
                         'js/bootstrap.js'
                         'bundles/projectuser/js/Authentification.js'
                         'bundles/projectPlatform/js/contact.js'
         %}
             <script type="text/javascript" src="{{ asset_url }}"></script>
         {% endjavascripts %}
     </footer>


</html>