<div class="modalTemplate">
    <!-- Modal -->
    <div class="modal fade" id="modalDefault" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% block modalContent %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>