{% extends "ProjectUserBundle::layout.html.twig" %}

{% block mainbundle_stylesheet %}
    {{ parent() }}
    {% stylesheets output="css/compiled/main.css" filter='?yui_css'%}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <p>Felicitation, votre compte est maintenant activé!</p>
{% endblock %}
