{% extends "ProjectPlatformBundle::layout.html.twig" %}

{% block mainbundle_stylesheet %}
    {{ parent() }}
    {% stylesheets output="css/compiled/main.css" filter='?yui_css'
    'bundles/projectplatform/css/contact.css'
    'bundles/projectplatform/css/send.css' %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}


    <section class="container">
        <div class="row-6">


            <div class="col-xs-6 commandSend">
            </div>

            <div class="col-xs-6 commandForm">
                {{ include("ProjectPlatformBundle:Platform:commandForm.html.twig") }}
            </div>

        </div>
    </section>

{% endblock %}