{% extends "ProjectPlatformBundle::layout.html.twig" %}


{% block body %}
    <h1>home page salut je suis un bout de code</h1>
    <button class="btn btn-large btn-primary" id="send_buton" onclick="self.location.href='{{path("project_platform_sendpage") }}'">Envoyer une fleur</button>
{% endblock %}

